
@{
    Layout = null;
}

<table>
    <thead>
        <tr>
            <td>İD</td>
            <td>AD</td>
            <td>AÇIKLAMA</td>
            <td>DURUM</td>
            
        </tr>
        <tr>
            <td>1</td>
            <td>EĞİTİM</td>
            <td>TEST</td>
            <td>TRUE</td>
        
        </tr>
        <tr>

        </tr>
    </thead>
   

</table>